.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .films {
    flex-basis: 30%;
  }
  
  .movie-details {
    flex-basis: 65%;
  }
  
  .movie-details h2 {
    margin-top: 0;
  }
  
  .movie-details button {
    margin-top: 10px;
  }
  
  .film-item {
    cursor: pointer;
  }
  
  .sold-out {
    color: rgb(140, 36, 36);
  }
  